[Unit]
Description = Setting up Rudder Server
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/rudder-server/tests/load
Restart = on-failure
RestartSec = 3s
StartLimitInterval = 0
ExecStart = CONFIG_PATH=/home/ubuntu/rudder-server/config.toml /home/ubuntu/rudder-server/tests/load/genload
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = genload


[Install]
WantedBy = multi-user.target
