[Unit]
Description = Setting up Rudder Sink
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/rudder-server/tests/
Restart = always
ExecStart = /home/ubuntu/rudder-server/tests/load/sink
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = genload


[Install]
WantedBy = multi-user.target
