[Unit]
Description = Setting up Rudder load generator
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/rudder-server/tests/load
Restart = always
ExecStart = /home/ubuntu/rudder-server/tests/load/genload
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = rudder-genload


[Install]
WantedBy = multi-user.target
