[Unit]
Description = Setting up Rudder Sink
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/rudder-server/
Restart = always
ExecStart = /home/ubuntu/rudder-server/tests/sink
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = sink


[Install]
WantedBy = multi-user.target
